{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% comment %} <button onclick="{% url 'a_web:cert' %}">Make Certificate</button>
<br>

<button onclick="{% url 'a_web:past_cert' %}">Make Certificate</button>
<br> {% endcomment %}

<form method="POST" action="{% url 'a_web:regist_c_registered' %}">
    <input name="name_nik" type="text"/> <br/>
    <button type="submit" name="by_name" value="by_name"> Search By Name</button>
    <button type="submit" name="by_nik" value="by_nik"> Search By NIK</button>
</form>

<table style="width:100%" border="5">
    <tr>
        <th>NIK</th>
        <th>Name</th> 
        <td> Aksi </th>
    </tr>


{% for u in data %}
    <tr>

        <td>{{ u.nik }}</td>
        <td>{{ u.name }}</td>
        <td> <button onclick="window.location='{% url '' %}'"> </td>
        
    </tr>
{% endfor %}

</table>

{% if user.is_authenticated %}
  Hi {{ user.username }}!
  <p><a href="{% url 'logout' %}">Log Out</a></p>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">Log In</a>
{% endif %}

{% endblock %}