{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% comment %} <button onclick="{% url 'a_web:cert' %}">Make Certificate</button>
<br>

<button onclick="{% url 'a_web:past_cert' %}">Make Certificate</button>
<br> {% endcomment %}

<h1>Face Registration {{user.name}} </h1>
<h2> Please turn around to right and left slowly</h2>

<form action="{% url 'a_web:face_result' %}" method="post">
<button type="submit"> Done </button>
</form>

{% if user.is_authenticated %}
  Hi {{ user.username }}!
  <p><a href="{% url 'logout' %}">Log Out</a></p>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">Log In</a>
{% endif %}

{% endblock %}