{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% comment %} <button onclick="{% url 'a_web:cert' %}">Make Certificate</button>
<br>

<button onclick="{% url 'a_web:past_cert' %}">Make Certificate</button>
<br> {% endcomment %}

<button onclick="window.location = '{% url 'a_web:regist_c' %}'">Make Certificate</button>
<br>

{% if user.is_authenticated %}
  Hi {{ user.username }}!
  <p><a href="{% url 'logout' %}">Log Out</a></p>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">Log In</a>
{% endif %}
{% endblock %}